body {
  font-family: 'Poppins', sans-serif;
}

.fp-slides {
  height: 100%;
}

.fp-slidesNav {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fp-slidesNav.fp-bottom {
  bottom: 0;
}

.section {
  max-width: 100%;
  min-height: 100vh;
}

.slide {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    rgba(157, 157, 157, 0.54);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.slide-title {
  display: flex;
  justify-content: center;
  font-size: calc(35px + 35 * (100vw / 1920));
  font-weight: 600;
  height: 25%;
  align-items: center;
}

.slide-content {
  height: 75%;
  display: flex;
  padding: 0 74px;
  max-width: 100%;
  justify-content: space-around;
}

.slide__image {
  max-width: 45%;
  max-height: 45vh;
  text-align: center;
}

.slide__image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  box-shadow: 10px 10px 67px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(38px);
}

.slide__text {
  max-width: 45%;
}

.slide__text span {
  max-width: 100%;
  font-size: calc(15px + 10 * (100vw / 1920));
  line-height: 50px;
  text-align: justify;
}

.fp-slidesNav ul {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.fp-slidesNav ul li {
  width: 80px;
  height: 17px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  border: none;
  box-shadow: 0px 5px 3px #00000063;
}

.fp-slidesNav ul li a.active {
  transition: all 0.3s ease-in;
  background: rgba(1, 1, 1, 0.6);
}

.fp-slidesNav ul li a {
  transition: all 0.3s ease-out;
}

.fp-slidesNav ul li a:hover {
  background: rgba(1, 1, 1, 0.3);
  transition: all 0.3s ease-in;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}