body {
  font-family: 'Poppins', sans-serif;
}

.s1 {
  background: url('../images/desert/camel.png') no-repeat center/cover;
}

.s2 {
  background: url('../images/desert/macroscelides.png') no-repeat center/cover;
}

.s3 {
  background: url('../images/desert/oryx.png') no-repeat center/cover;
}

.s4 {
  background: url('../images/desert/shaphan.png') no-repeat center/cover;
}

.s5 {
  background: url('../images/desert/squirrel.png') no-repeat center/cover;
}
