body {
  font-family: 'Poppins', sans-serif;
}

.s1 {
  background: url('../images/savannah/giraffe.png') no-repeat center/cover;
}

.s2 {
  background: url('../images/savannah/hyena.png') no-repeat center/cover;
}

.s3 {
  background: url('../images/savannah/rhino.png') no-repeat center/cover;
}

.s4 {
  background: url('../images/savannah/scorpion.png') no-repeat center/cover;
}

.s5 {
  background: url('../images/savannah/tarantula.png') no-repeat center/cover;
}
