body {
  font-family: 'Poppins', sans-serif;
}

.s1 {
  background: url('../images/steppe/jerboa.png') no-repeat center/cover;
}

.s2 {
  background: url('../images/steppe/kestrel.png') no-repeat center/cover;
}

.s3 {
  background: url('../images/steppe/marmot.png') no-repeat center/cover;
}

.s4 {
  background: url('../images/steppe/snake.png') no-repeat center/cover;
}

.s5 {
  background: url('../images/steppe/souslik.png') no-repeat center/cover;
}
