html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100vh;
  background: rgb(14, 13, 13);
}

.container__main {
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.container__main > * {
  flex: 1 1 20%;
  margin: 0 3em;
  -webkit-box-reflect: below 15px
    linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.3));
}

.container__area {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
}

.area__title {
  font-size: 50px;
  transform: rotate(90deg);
  z-index: 1;
}
.container__area:nth-child(1) {
  background: url(../images/taiga.jpeg) no-repeat center/cover;
}

.container__area:nth-child(2) {
  background: url(../images/desert.jpeg) no-repeat center/cover;
}
.container__area:nth-child(3) {
  background: url(../images/savannah.jpeg) no-repeat center/cover;
}

.container__area:nth-child(4) {
  background: url(../images/steppe.jpeg) no-repeat center/cover;
}

.container__area:nth-child(5) {
  background: url(../images/tropics_1.jpeg) no-repeat center/cover;
}

.container__area::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000002d;
}

.container__reflect {
  height: 25vh;
  width: 100%;
}
