body {
  font-family: 'Poppins', sans-serif;
}

.s1 {
  background: url('../images/taiga/bruin_1.png') no-repeat center/cover;
}

.s2 {
  background: url('../images/taiga/chipmunk_1.png') no-repeat center/cover;
}

.s3 {
  background: url('../images/taiga/hare_1.png') no-repeat center/cover;
}

.s4 {
  background: url('../images/taiga/shorttail_weasel_1.png') no-repeat
    center/cover;
}

.s5 {
  background: url('../images/taiga/tiger_1.png') no-repeat center/cover;
}
