body {
  font-family: 'Poppins', sans-serif;
}

.s1 {
  background: url('../images/tropics/flamingo.png') no-repeat center/cover;
}

.s2 {
  background: url('../images/tropics/hummingbird.png') no-repeat center/cover;
}

.s3 {
  background: url('../images/tropics/iguana.png') no-repeat center/cover;
}

.s4 {
  background: url('../images/tropics/tapir.png') no-repeat center/cover;
}

.s5 {
  background: url('../images/tropics/treeSloth.png') no-repeat center/cover;
}
